* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  background: var(--dark-bg);
  --dark-bg: #383636;
  --light-bg: #bfbaba;
  --light-button: #efefef;
  --rare-color: #ae15ec;
  --uncommon-color: #1952bd;
  --common-color: #0c6919;
}

body {
  color: var(--dark-bg);
  font-family: 'Oswald', sans-serif;
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

.row {
  width: 100%;
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.game-page {
  max-width: 70rem;
  margin: 0 auto;
}
